<div id="container">
		<div class="food_drinks">
			<h2>App Name : {{name}}</h2>
			<h4>Description : {{description}}</h4>
			<h4>Features : {{features}}</h4>
			<h4>Author : {{author}}</h4>
			<h4>Time : {{timestamp}}</h4>
		</div>
		<a href="/food_drinks/edit/{{id}}">Edit</a>
</div>
