<div id="container">
	<form action="/meeting_peoples/{{id}}" method="POST">
		<input type="hidden" name="_method" value="PUT">
		<textarea name="name" placeholder="Name of App">{{name}}</textarea>
		<textarea name="description" placeholder="Description">{{description}}</textarea>
		<textarea name="features" placeholder="Features">{{features}}</textarea>
		<textarea name="author" placeholder="Author">{{author}}</textarea>
		<button type="button"><input type="submit" value="EDIT"></button>
	</form>
</div>